<%= link_to "<span class='material-symbols-outlined'>arrow_back</span>Back to Resources".html_safe, root_path, class: "back-btn" %>

<h1 class="dashboard-title">Make a booking for <%= @resource.name %></h1>

<%= form_with model: @booking, url: bookings_path(resource_id: @resource.id), local: true do |f| %>

  <% if @booking.errors.any? %>
    <div class="error-explanation">
      <div class="error-title">Error</div>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group">
      <p><%= f.label :start_time, "Start Time" %></p>
      <p><%= f.datetime_field :start_time, value: @booking.start_time, data: { field: 'start-date' } %></p>
    </div>

    <div class="form-group">
      <p><%= f.label :end_time, "End Time" %></p>
      <p><%= f.datetime_field :end_time, value: @booking.end_time, data: { field: 'end-date' } %></p>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Confirm Booking" %>
  </div>
<% end %>
