<div class="search-section">
  <%= form_with url: root_path, id: "search-form", method: :get, local: true, class: "search-form" do |f| %>
    <div class="search-input-group">
      <div>
        <div class="hover-label">Search by Name</div>
        <%= f.label :search, "<span class='material-symbols-outlined'>search</span>".html_safe %>
        <%= f.text_field :search, value: params[:search], placeholder: "Enter resource name...", class: "search-input" %>
      </div>

      <div>
        <div class="hover-label">Department</div>
        <%= f.collection_select :department_id, Department.all, :id, :name, :include_blank => "All Departments", :selected => params[:department_id], :class => "filter-select" %>
      </div>

      <div>
        <div class="hover-label">Resource Type</div>
        <% rtypes = [["Room", "room"], ["Equipment", "equipment"]] %>
        <%= select_tag(:rtype, options_for_select(rtypes, :selected => ( if params[:rtype] then params[:rtype] else 'room' end ), :class => "filter-select")) %>
      </div>
      
      <div class="room-only" style="display: <%= if params[:rtype] == 'equipment' then 'none' else '' end %>">
        <div class="hover-label">Seat Type</div>
        <% seat_types = ["All Seat Types", "Lecture Theatre", "Table & Chair", "Armchair", "Armchair/Table & Chair"].map { |x| [x, x] } %>
        <%= select_tag(:seat_type, options_for_select(seat_types, :selected => params[:seat_type], :class => "filter-select")) %>
      </div>

      <div class="room-only capacity" style="display: <%= if params[:rtype] == 'equipment' then 'none' else '' end %>">
        <div class="hover-label">Capacity</div>
        <span class="material-symbols-outlined">groups</span>
        <div class="slider-multithumb">
          <svg role="none" class="slider-group" viewBox="-30 0 420 60">
            <g aria-hidden="true" class="rail">
              <rect height="0" width="0"></rect>
            </g>
            <g aria-hidden="true" class="range">
              <rect height="0" width="0"></rect>
            </g>
            <g class="minimum" role="slider" tabindex="0" aria-valuemin="1" aria-valuenow="1" aria-valuemax="351" aria-label="Minimum Capacity">
              <text class="value">0</text>
              <rect class="focus-ring" height="0" width="0"></rect>
              <polygon class="thumb" points="0,0 0,0"></polygon>
            </g>
            <g class="maximum" role="slider" tabindex="0" aria-valuemin="1" aria-valuenow="350" aria-valuemax="351" aria-label="Maximum Capacity">
              <text class="value">0</text>
              <rect class="focus-ring" height="0" width="0"></rect>
              <polygon class="thumb" points="0,0 0,0"></polygon>
            </g>
          </svg>
        </div>
        <%= javascript_include_tag "slider-multithumb", "data-turbolinks-track" => true %>
      </div>

    </div>

    <div>
      <%= f.submit "Search", class: "search-btn" %>
      <script>
        setup = async (e) => {
          setupSlider = (e) => {
            const sliderNode = document.querySelector(".slider-multithumb")
            const slider = new SliderMultithumb(sliderNode)
            <% if (params[:min_capacity]) %>
              sliderNode.querySelector(".minimum").setAttribute('aria-valuenow', '<%= params[:min_capacity] %>')
              slider.moveSliderTo(slider.minSliderNode, '<%= params[:min_capacity] %>')
            <% end %>
            <% if (params[:max_capacity]) %>
              sliderNode.querySelector(".maximum").setAttribute('aria-valuenow', '<%= params[:max_capacity] %>')
              slider.moveSliderTo(slider.maxSliderNode, '<%= params[:max_capacity] %>')
            <% end %>
          }
          formOnSubmit = async (e) => {
              e.preventDefault();

              const form = document.getElementById("search-form");
              const min_capacity = document.querySelector(".slider-multithumb .minimum").getAttribute('aria-valuenow')
              const max_capacity = document.querySelector(".slider-multithumb .maximum").getAttribute('aria-valuenow')

              function htmlToNode(html) {
                const template = document.createElement('template');
                template.innerHTML = html;
                return template.content.firstChild;
              }

              form.append(htmlToNode(`<input style='display: none' name='min_capacity' value='${min_capacity}'>`))
              form.append(htmlToNode(`<input style='display: none' name='max_capacity' value='${max_capacity}'>`))
              form.submit()
          }
          setupRoomOnly = (e) => {
            const rtypeSelector = document.getElementById('rtype')
            const roomOnlyAttributes = document.querySelectorAll(".room-only")
            roomOnlyAttributes.forEach((e) => e.style.display = (rtypeSelector.value !== "room" ? "none" : ""));
          }
          
          setupSlider(e)
          
          const rtypeSelector = document.getElementById('rtype')
          rtypeSelector.oninput = rtypeSelector.onchange = setupRoomOnly
          setupRoomOnly() // call once initially
          
          const form = document.getElementById("search-form")
          form.onsubmit = formOnSubmit
        }
        document.removeEventListener('turbo:load', setup);
        document.addEventListener('turbo:load', setup);
      </script>
    </div>
  <% end %>
</div>