<div class="search-section">
  <%= form_with url: root_path, method: :get, local: true, class: "search-form" do |f| %>
    <div class="search-input-group">
      <div>
        <div class="hover-label">Search by Name</div>
        <%= f.label :search, "<span class='material-symbols-outlined'>search</span>".html_safe %>
        <%= f.text_field :search, value: params[:search], placeholder: "Enter resource name...", class: "search-input" %>
      </div>

      <div>
        <div class="hover-label">Department</div>
        <%= f.collection_select :department_id, Department.all, :id, :name, :prompt => "All Departments", :selected => params[:department_id], :class => "filter-select" %>
      </div>

      <div class="filter-checkboxes">
        <label class="filter-checkbox-label">
          <%= f.check_box :rtypes, { multiple: true, checked: params[:rtypes]&.include?("room") }, "room", nil %>
          <span class="material-symbols-outlined">home</span>
          Room
        </label>
        <label class="filter-checkbox-label">
          <%= f.check_box :rtypes, { multiple: true, checked: params[:rtypes]&.include?("equipment") }, "equipment", nil %>
          <span class="material-symbols-outlined">build</span>
          Equipment
        </label>
      </div>
    </div>

    <div>
      <%= f.submit "Search", class: "search-btn" %>
    </div>
  <% end %>
</div>