<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Venue & Equipment Booking" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon_light.svg">
    <link rel="icon" href="/icon_light.svg" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/icon_dark.svg" media="(prefers-color-scheme: dark)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartkick@5"></script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>

    <script>
      function setTheme(themeName) {
        localStorage.setItem("theme", themeName);
        document.documentElement.classList.remove("light");
        document.documentElement.classList.remove("dark");
        document.documentElement.classList.add(themeName);
      }

      function changeTheme() {
        if (localStorage.getItem("theme") === "dark"){
          setTheme("light");
        } else{
          setTheme("dark");
        }
      }

      (() => {
        if (localStorage.getItem("theme") === "dark") {
          setTheme("dark");
          return;
        }
        if (localStorage.getItem("theme") === "light") {
          setTheme("light");
          return;
        }
        var preference = window.matchMedia("(prefers-color-scheme: dark)");
        if (preference.matches) {
          setTheme("dark");
        } else {
          setTheme("light");
        }
      })();

      function setHue(x) {
        x %= 360;
        localStorage.setItem("hue", x);
        document.documentElement.style.setProperty("--hue", x + "deg");
      }

      function changeHue() {
        setHue(parseInt(localStorage.getItem("hue")) + 30);
      }

      (() => {
        if (localStorage.getItem("hue") === null) {
          setHue(0);
        } else {
          setHue(localStorage.getItem("hue"));
        }
      })();

      document.addEventListener("turbo:load", () => {
        const animationElements = document.querySelectorAll(".background-animation > span");

        function animateElement(i) {
          animationElements[i].style.left = Math.random() * 100 + "%";
          animationElements[i].style.top = Math.random() * 100 + "%";
          animationElements[i].classList.add("show");
          setInterval(() => {
            animationElements[i].classList.add("hide");
            animationElements[i].classList.remove("show");
            setTimeout(() => {
              animationElements[i].classList.remove("hide");
              setTimeout(() => {
                animationElements[i].style.left = Math.random() * 100 + "%";
                animationElements[i].style.top = Math.random() * 100 + "%";
                animationElements[i].classList.add("show");
              }, 500);
            }, 2000);
          }, 10000);
        }

        var now = 0;
        animateElement(now);
        var animationInterval = setInterval(() => {
          now++;
          if (now >= animationElements.length) {
            clearInterval(animationInterval);
            return;
          }
          animateElement(now);
        }, 10000 / animationElements.length);
      });
    </script>
  </head>

  <body>
    <div class="background-animation">
      <span class="material-symbols-outlined">corporate_fare</span>
      <span class="material-symbols-outlined">home</span>
      <span class="material-symbols-outlined">build</span>
      <span class="material-symbols-outlined">corporate_fare</span>
      <span class="material-symbols-outlined">home</span>
      <span class="material-symbols-outlined">build</span>
    </div>
    <header>
      <%= link_to root_path do %>
        <div class="title">
          <span class="material-symbols-outlined">corporate_fare</span>
          <span class="title-word">Venue & Equipment Booking</span>
        </div>
      <% end %>
      
      <div class="info">
        <% if user_signed_in? %>
          <div class="user-info">
            <div class="user-badge">
              <div class="hover-label"><%= current_user.role.titleize %></div>
              <span class="material-symbols-outlined">person</span> <%= current_user.name %>
            </div>
            <% if current_user.role == "admin" %>
              <%= link_to "<button>Admin Dashboard</button>".html_safe, admin_bookings_path %>
            <% else %>
              <%= link_to "<button>My Bookings</button>".html_safe, bookings_path %>
            <% end %>
            <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <% unless controller_name == "sessions" && action_name == "new" || controller_name == "registrations" && ["new", "create"].include?(action_name) %>
            <div class="user-info">
              <%= button_to "Log In", new_user_session_path, method: :get %>
              <%= button_to "Sign Up", new_user_registration_path, method: :get %>
            </div>
          <% end %>
        <% end %>

        <div class="page-appearance">
          <div>
            <div class="hover-label">Toggle Theme</div>
            <button class="toggle-theme" onclick="changeTheme()">
              <span class="material-symbols-outlined theme-light">light_mode</span>
              <span class="material-symbols-outlined theme-dark">dark_mode</span>
            </button>
          </div>

          <div>
            <div class="hover-label">Switch Colour</div>
            <button class="toggle-theme" onclick="changeHue()">
              <span class="material-symbols-outlined">palette</span>
            </button>
          </div>
        </div>
      </div>
    </header>

    <div class="alerts-container">
      <% if notice.present? %><div class="alert alert-success"><%= notice %></div><% end %>
      <% if alert.present? %><div class="alert alert-error"><%= alert %></div><% end %>
    </div>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
