<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Proj" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.svg">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartkick@5"></script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="alerts-container">
      <% if notice.present? %><div class="alert alert-success"><%= notice %></div><% end %>
      <% if alert.present? %><div class="alert alert-error"><%= alert %></div><% end %>
    </div>
    <%= yield %>
  </body>
</html>
